.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;

}
.text {
    font-family: 'Open Sans'; 
    font-weight: bold;
    font-size: 14px;
    line-height: 3px;
}

.main-view {
    display: flex; 
    flex-direction: row;
    height : 100vh; 
    background-color: #F1F2F2;
 
}

.search-column { 
    height: 100vh;
    max-width: 400px;
    min-width: 300px;

}

.details-column{
    height: 100vh;
    background-color: #E2E2E2; 
    min-width: 60vw; 
    max-width: 80vw; 

}

.course-header{ 
    /* height: 80px;  */
    background-color: white;
    margin-right: 5px;
    margin-left: 5px; 
    margin-top: 3px;
    border-radius: 5px;
    padding-left: 5px; 
    padding-right: 5px;  

}

.title {
    font-size: 24px;
    line-height: 38px;
}

.section-header {
    font-size: 18px;
    font-family: 'Open Sans'; 
    font-weight: bold;
    line-height: 25px;
    text-align: left;
}

.scrollable-column {
    overflow-y: scroll;
    display: flex;
    flex-direction: column; 
    justify-content: left;
    width : 50%; 
    margin-left: 5px; 
    margin-right: 5px;
}

.two-columns {
    display: flex; 
    flex-direction: row;
}

.section { 
    display: flex;
    background-color: white;
    padding-right: 5px; 
    padding-left: 5px; 
    padding-bottom: 3px; 
    height: 35px;
    text-align: center;
    margin-top: 2px; 
    margin-bottom: 2px;
    border-radius: 5px; 
}

.white{
    color: white; 
    margin-bottom: 3px; 
    font-size: 12px;
 
}





